<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.reorx.devdocs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>15B8E334-096B-4019-BFF1-C49E1CDA1273</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B64C5F8-2483-476A-852B-E8855A02AD82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C7B3F7C-5A9D-451D-B296-B0703D90ABFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48638769-43EC-4F84-BC4A-3B80E18454F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C060A0F-6F42-44DB-8A57-E55FD4ADB880</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C060A0F-6F42-44DB-8A57-E55FD4ADB880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66F44BBD-B11F-49DA-879B-599FEC2DBE89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66F44BBD-B11F-49DA-879B-599FEC2DBE89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15B8E334-096B-4019-BFF1-C49E1CDA1273</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C7B3F7C-5A9D-451D-B296-B0703D90ABFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CEFCCAF-DF33-4608-B0C5-F6E402C4E39C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B257EC41-186B-4AD8-82A7-264E2C9A9A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>devdocs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>sp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>6C7B3F7C-5A9D-451D-B296-B0703D90ABFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"HTML","arg":"html "},{"title":"CSS","arg":"css "},{"title":"JavaScript","arg":"javascript "},{"title":"DOM","arg":"web ","subtitle":"Web APIs"},{"title":"React","arg":"react "},{"title":"Electron","arg":"electron "},{"title":"Python","arg":"python "},{"title":"Go","arg":"go "}]</string>
				<key>keyword</key>
				<string>dd</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>devdocs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B257EC41-186B-4AD8-82A7-264E2C9A9A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter search term</string>
				<key>text</key>
				<string>DevDocs Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>doc=$1
term=$2

echo -n "dd $term of $doc" &gt; /tmp/alfred.bash.debug
osascript -e "tell application \"DevDocs\" to open location \"devdocs-macos://search?doc=$doc&amp;term=$term\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CEFCCAF-DF33-4608-B0C5-F6E402C4E39C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching {var:doc} index</string>
				<key>script</key>
				<string>python3 main.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>script filter sub</string>
				<key>title</key>
				<string>script filter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15B8E334-096B-4019-BFF1-C49E1CDA1273</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"HTML","arg":"html "},{"title":"CSS","arg":"css "},{"title":"JavaScript","arg":"javascript "},{"title":"DOM","arg":"web ","subtitle":"Web APIs"},{"title":"React","arg":"react "},{"title":"Electron","arg":"electron "},{"title":"Python","arg":"python "},{"title":"Go","arg":"go "}]</string>
				<key>keyword</key>
				<string>dds</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>devdocs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>48638769-43EC-4F84-BC4A-3B80E18454F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>term="$1"

#echo -n "tell application \"DevDocs\" to open location \"devdocs-macos://search?doc=$doc&amp;term=$term\"" &gt; /tmp/alfred.bash.debug

osascript -e "tell application \"DevDocs\" to open location \"devdocs-macos://search?doc=$doc&amp;term=$term\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B64C5F8-2483-476A-852B-E8855A02AD82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>doc</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>66F44BBD-B11F-49DA-879B-599FEC2DBE89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>4C060A0F-6F42-44DB-8A57-E55FD4ADB880</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>add dds command for detailed items search</string>
	<key>uidata</key>
	<dict>
		<key>15B8E334-096B-4019-BFF1-C49E1CDA1273</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>2B64C5F8-2483-476A-852B-E8855A02AD82</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>48638769-43EC-4F84-BC4A-3B80E18454F5</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>4C060A0F-6F42-44DB-8A57-E55FD4ADB880</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>66F44BBD-B11F-49DA-879B-599FEC2DBE89</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>6C7B3F7C-5A9D-451D-B296-B0703D90ABFD</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>7CEFCCAF-DF33-4608-B0C5-F6E402C4E39C</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>B257EC41-186B-4AD8-82A7-264E2C9A9A34</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3.9</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Python version</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>python_version</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
